body,
.center{
    text-align: center;
}
table{
    border-collapse: collapse;
    margin: auto;
}
tbody{
    text-align: left;
}
td{
    border: 1px solid #000;
    max-width: 500px;
    padding: 5px;
}
thead{
    background: #bbb;
}
.toolbar{
    margin: 50px 0;
}
